* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

#seo {
    color: #d9dcd6;
}

.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header div ul {
    list-style-type: none;
}

.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

/* Changes the font-size for all p text on the website */
p {
    font-size: 16px;
}

/* Size and position for the main background-image for the website */
#background-image {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Positions the content blocks to the left */
.float-left {
    float: left;
    margin-right: 25px;
}

/* Positions the column on the right */
.float-right {
    float: right;
    margin-left: 25px;
}

/* Property of the right column */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Positions content and changes all text color for the benefit-block */
.benefit-block {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Centers and positions benefit-block text */
.benefit-block h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Adjusts image size and display for the column on the right */
.benefits img{
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Properties for the large content boxes on the left */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Properties for each of the content-blocks */
.content-blocks {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Adjusts image size for the content-blocks */
.content img {
    max-height: 200px;
}

/* Size adjustments for the h2 content text */
.content h2{
    margin-bottom:20px;
    font-size: 36px;
}

/* Footer properties */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* Adjusts sizing for footer h2 text */
.footer h2 {
    font-size: 20px;
}
